<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>About</h1>

    <hr>

    <p>
        <a href="/">Home</a> |
        <a href="/about">About</a>
    </p>

    <hr>

    <p>
        Thisweb application is developed as part of a Flask learning journey.
        It demonstrates multiple routes and dynamic HTML rendering using Jinja2 templates.
    </p>

    <br>

    <h3>Developer Details</h3>

    <p><strong>Name:Deepshika</strong> {{ developer }}</p>
    <p><strong>College:SEC</strong> {{ college }}</p>
    <p><strong>Course:B.Tech.IT</strong> {{ course }}</p>

</body>
</html>