<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
</head>
<body>

    <h1>Flask Learning Project</h1>

    <hr>

    <p>
        <a href="/">Home</a> |
        <a href="/about">About</a>
    </p>

    <hr>

    <h2>Welcome, Deepshika !</h2>

    <p>
        This project demonstrates the basics of Flask routing and Jinja2 templating.
    </p>

    <p>
        Navigate through the pages to see how Flask serves dynamic web content.
    </p>

    <br>


</body>
</html>